.card {
  width: 3.2rem;
  height: 4rem;
  background-color: $color-secondary-light;
  border-radius: 0.6rem;

  &:hover {
    cursor: pointer;
  }

  display: grid;
  justify-content: center;
  align-items: center;

  &--visible {
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    color: $color-black;
    border: 1px solid $color-secondary-dark;
  }

  &--hidden {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);

    > span {
      display: none;
    }
  }
}
